html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.noto-serif-tc-font1 { 
  font-family: "Noto Serif TC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}